:root {
	/* Fonts */
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--font-family-hero: "JuliusSansOne", sans-serif;
	--font-family-logo: "Alike", sans-serif;
	--font-family-heading: "Alike", serif;
	--font-family-button: "Alike", serif;
	--font-family-p: "Lora", serif;

	/* Colors */
	--color-bg: #e9e7e7;
	--color-bg-hover: #9b9b9b;
	--color-fg: #121212;
	--color-content-bg: #fefffb;

	--color-heading: #111827;
	--color-text: #333333;

	--color-btn: #3a3a3a;
	--color-btn-text: #ececec;

	--color-btn-bg-hover: #060606;
	--color-btn-text-hover: #ffffff;
}

.dark {
	/*  Darkmode */
	--color-bg: #121212;
	--color-bg-hover: #d3d3d3;
	--color-fg: #e9e7e7;
	--color-content-bg: #1e1e1e;

	--color-text: #e0e0e0;
	--color-heading: #f3f4f6;

	--color-btn: #1e1e1e;
	--color-btn-text: #e0e0e0;

	--color-btn-bg-hover: #ebebeb;
	--color-btn-text-hover: #3d3d3d;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-text);
}

/* fonts and colors */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	color: var(--color-heading);
}

p,
li,
span,
a,
div {
	font-family: var(--font-family-p);
}
button {
	font-family: var(--font-family-button);
}

/* sizes */

h1 {
	line-height: 1.2;
	font-weight: 700;
	margin: 0;
	font-size: 2.5rem;
}
h2 {
	line-height: 1.3;
	font-weight: 600;
	font-size: 2rem;
}
h3 {
	line-height: 1.4;
	font-weight: 500;
	font-size: 1.75rem;
}
h4 {
	line-height: 1.5;
	font-weight: 500;
	font-size: 1.5rem;
}
h5 {
	line-height: 1.5;
	font-weight: 500;
	font-size: 1.25rem;
}
h6 {
	line-height: 1.5;
	font-weight: 500;
	font-size: 1rem;
}

.nav-link {
	text-decoration: none;
	color: var(--color-text);
	padding: 0.5rem 1rem;
}

.nav-link:hover {
	color: black;
	background-color: #cbcbcb;
	transition: opacity 0.3s ease;
}
