:root {
	/* Fonts */
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--font-family-hero: "JuliusSansOne", sans-serif;
	--font-family-logo: "Alike", sans-serif;
	--font-family-heading: "Alike", serif;
	--font-family-button: "Alike", serif;
	--font-family-p: "Lora", serif;

	/* Colors */
	--color-bg: #f9f9f9;
	--color-content-bg: #fefffb;
	--color-heading: #111827;
	--color-text: #333333;
}

.dark {
	/*  Darkmode */
	--color-bg: #121212;
	--color-content-bg: #1e1e1e;
	--color-text: #e0e0e0;
	--color-heading: #f3f4f6;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-text);
}

/* fonts and colors */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	color: var(--color-heading);
}

p,
li,
span,
a,
div {
	font-family: var(--font-family-p);
}
button {
	font-family: var(--font-family-button);
}

/* sizes */

h1 {
	font-size: 3rem;
	line-height: 1.2;
	font-weight: 700;
	margin: 0;
}
h2 {
	font-size: 2.25rem;
	line-height: 1.3;
	font-weight: 600;
	margin: 0;
}
h3 {
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: 500;
	margin: 0;
}
p {
	font-size: 1.1rem;
	line-height: 1.6;
	font-weight: 400;
	margin: 0;
}
button {
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 600;
}

li {
	font-size: 1.1rem;
	line-height: 1.6;
	font-weight: 400;
}
.nav-link {
	text-decoration: none;
	color: var(--color-text);
	padding: 0.5rem 1rem;
}

.nav-link:hover {
	color: black;
	background-color: #cbcbcb;
	transition: opacity 0.3s ease;
}
