.btn {
	@apply bg-btn text-btn-text hover:bg-btn-bg-hover hover:text-btn-text-hover text-center px-4 py-2 transition-colors duration-300 cursor-pointer;
}

.card {
	@apply rounded-xl border bg-white p-4;
}

.nav-link {
	@apply text-text cursor-pointer hover:bg-btn-bg-hover hover:text-btn-text-hover text-center;
}
